*{
	margin: 0;
	font-family: Verdana;
}

.container{
	background-image: url(../img/man-1.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: relative;
}

.text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

h2, h3{
	text-transform: uppercase;
	color: #fff;
	padding-left: 50px;
	line-height: 40px;
}


